include README.md
include LICENSE
include ChangeLog.md
include pyproject.toml
prune example

graft micov
graft ci

global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude *.c
global-exclude *.so
global-exclude .*.swp
global-exclude .DS_Store
global-exclude .gitignore
global-exclude *.sh
global-exclude Makefile
