include README.md
include LICENSE
include ChangeLog.md
include Makefile
include pyproject.toml
include cli_test.sh

recursive-include example *.gz
recursive-include example *.parquet
recursive-include example *.png
recursive-include example *.tgz
recursive-include example *.tsv
recursive-include example *.txt
recursive-include example *.xz

graft micov
graft ci

global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude *.c
global-exclude *.so
global-exclude .*.swp
